body
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    
#container 
    display: flex;
    flex-wrap: nowrap;
    width: 900px;
#container+div    
     margin: 35px;    
#comics 
    background: red; 
#personajes
    background: blue;      
img
    height: 200px;
    
ul li:last-child
    width: 100px;


